{
    "presets": [
        ["env", {
            "targets":{
                "browsers": [
                    "last 5 versions",
                    "ie >=8"

                ]
            }
        }
    ]],


    "plugins":[[
        "transform-runtime",
        {
            "helpers":false,
            "polyfill":false,
            "regenerator":true,
            "modeuleName":"babel-runtime"
        }

    ]

    ]
}